.topbar {
    display: flex;
    flex-direction: row;
    height: 42px;
    padding-top: 10px;
    font-size: 17px;
    background-color: crimson;
    color: white;
    justify-content: space-between;
}

.topbar_left ul {
    display: flex;
    flex-direction: row;
    width: auto;
    list-style-type: none;
}

.topbar_left ul li {
    text-decoration: none;
    padding: 0 10px;
}

.topbar_right ul {
    display: flex;
    flex-direction: row;
    width: auto;
    list-style-type: none;
}
.topbar_left ul li{
    text-decoration: none;
}
@media screen and (max-width: 768px) {
    .topbar {
        display: none;
    }
}